@media (max-width: 1199px)
  .container
    max-width: 960px
  .hotel
    &__slide
      width: 590px
    &-slider
      &__img
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 24%
    height: 230px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 991px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 48px
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .footer
    &__wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
      margin-left: 35px
    &__additional
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        grid-column: span 5
        grid-row: 4
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
        overflow: scroll
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        margin-left: 0
        margin-top: 10px
        color: $light
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -85px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -85px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__input
      flex-basis: 100%
    &__logo
      margin-bottom: 39px
    &__list
      margin-bottom: 61px
    &__item
      &--mb-2
        &:last-child
          margin-bottom: 60px
    &__button
      margin-bottom: 60px
@media (max-width: 575px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
      // Было 250рх
  .search
    margin-left: 0
    &__input
      width: 80%
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
      font-size: 20px
    &-title__strong
      font-size: 30px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 0
    &__logo
      grid-row: 1
      grid-column: 1
      margin-bottom: 30px
    &__title
      &--inline
        display: block
        width: 100%
        margin-bottom: 20px
    &__social
      &-network
        display: flex
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
        margin-bottom: 20px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__message
      margin-bottom: 0
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__info
      order: 8
      grid-row: 8
      margin-bottom: 15px
      width: 100%
    &__button
      order: 9
      grid-row: 9
      grid-column: 1
    &__payment
      flex-wrap: wrap
      &-text
        width: 100%
        margin-bottom: 10px
.modal
  &__dialog
    padding: 10px 25px
  &__button
    margin-bottom: 15px
